In [68]:
import pandas as pd
import json
import os

In [69]:
d = "population"
filenames = []
for path in os.listdir(d):
    full_path = os.path.join(d, path)
    if os.path.isfile(full_path):
        filenames.append(full_path)

popDF = pd.DataFrame()

for currFile in filenames:
    with open(currFile) as jsonFile:
        dictJson = json.load(jsonFile)
    popDF = popDF.append(pd.DataFrame.from_dict(dictJson), ignore_index=True)

names = popDF.iloc[0,:].tolist()


popDF.to_csv('USpopulation.csv', header=False, index=False)

In [70]:

popPath = os.path.join(os.getcwd(), 'USpopulation.csv')
popDF = pd.read_csv(popPath)

popDF[['NAME']] = [i.replace(' County', '') + ', US' for i in popDF.NAME.tolist()]

popDF = popDF.drop(['state', 'county'], axis=1)

In [71]:
popDF.to_csv('USpopulation.csv', index=False)

In [72]:
popDF

                        NAME    POP
0         Barber, Kansas, US   4427
1      Dickinson, Kansas, US  18466
2      Jefferson, Kansas, US  19043
3      Greenup, Kentucky, US  35098
4      Fleming, Kentucky, US  14581
...                      ...    ...
3215        Tyler, Texas, US  21672
3216      Wheeler, Texas, US   5056
3217         Hill, Texas, US  36649
3218    Limestone, Texas, US  23437
3219  Nacogdoches, Texas, US  65204

[3220 rows x 2 columns]